<%# Ajoute le message user au container %>
<%# La réponse assistant sera ajoutée en temps réel via le job %>

<%= turbo_stream.append "messages" do %>
  <%= render "messages/message", message: @message, chat: @chat %>
<% end %>

<%# Reset le formulaire %>
<%= turbo_stream.replace "new_message_container" do %>
  <div id="new_message_container">
    <%= simple_form_for [@chat, Message.new] do |f| %>
      <%= f.input :content, label: false, required: true, placeholder: "How can I help you?", innerHTML: { class: "muted-text"} %>
      <%= f.button :submit, 'Ask Supercarbo', class: 'btn button-default mb-2 rounded-5' %>
    <% end %>
  </div>
<% end %>
