<% content_for :navabr_text_label, "My CarboMeals" %>
<% content_for :navbar_text_path, feed_path %>

<div class="container">

  <div class="shadow-sm rounded-5 mt-4 p-4 segment-control-bar">

    <%= link_to 'CarboMeals', recipes_path,
                class: "segment-button p-default #{'active' if current_page?(recipes_path)}" %>

    <%= link_to 'CarboDucts', items_path,
                class: "segment-button p-default #{'active' if current_page?(items_path)}" %>
  </div>

  <div class="card shadow-sm rounded-5 mt-4 p-4">
    <div class="text-center pt-1 pb-3">
      <h1 class="display-5 fw-bold h-default mb-2 mt-2">
        Mes Carbomeals
      </h1>
    </div>
    <div class="row row-cols-lg-4 align-items-stretch">
      <% if @recipes.any? %>
        <% @recipes.each do |recipe| %>
          <div class="col-lg-4 mb-1">
            <div class="card-recipe-bis p-3 rounded-5">

            <h5 class="mb-3 h-default">
              <%= recipe.name %>
            </h5>

              <p class="flex-grow- p-default"><%= recipe.description %></p>

              <%= link_to recipe_path(recipe), class: "d-block text-decoration-none" do %>
                <div class="div-button-recipe access-button-recipe rounded-5">
                  <p>Voir cette recette</p>
                </div>
              <% end %>

              <%= link_to edit_recipe_path(recipe), class: "d-block text-decoration-none" do %>
                <div class="div-button-recipe access-button-recipe rounded-5">
                  <p>Modify this recipe</p>
                </div>
              <% end %>

              <%= link_to recipe_path(recipe),
                  data: { turbo_method: :delete, turbo_confirm: "Êtes-vous sûr(e) de vouloir supprimer cette recette ?" },
                  class: "d-block text-decoration-none" do %>
                <div class="div-button-recipe delete-button-recipe rounded-5">
                  <p>Supprimer</p>
                </div>
              <% end %>
            </div>
          </div>
        <% end %>
      <% end %>
    </div>
  </div>
</div>

<div class="offcanvas offcanvas-end" tabindex="-1" id="offcanvasAction" aria-labelledby="offcanvasActionLabel" data-bs-backdrop="true" data-controller="wizard">
  <div class="offcanvas-dialog offcanvas-dialog-centered">
    <div class="offcanvas-content">
      <div class="offcanvas-header">
        <h5 class="offcanvas-title p-default" id="offcanvasActionLabel">Add a New CarboMeal</h5>
        <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close" data-action="wizard#reset"></button>
      </div>
      <div class="offcanvas-body">

        <div data-wizard-target="step" class="wizard-step">
          <div class="container py-1">
            <div class="card shadow-sm rounded-5 p-4 border-0 modal-carbo-card">
              <h6 class="h-default text-center fw-bold mb-4">
                Comment voulez-vous créer votre CarboMeal?
              </h6>
              <div class="d-grid gap-3">
                <button type="button" class="btn button-default btn-lg rounded-5" data-action="wizard#goToNext" data-current-step="0" data-next-step="1">
                  <i class="fa-solid fa-pencil me-2"></i>Ajouter moi-même
                </button>
                <button type="button" class="btn button-default btn-lg rounded-5" data-action="wizard#goToNext" data-current-step="0" data-next-step="4">
                  <i class="fa-solid fa-robot me-2"></i>Demander à SuperCarbo
                </button>
              </div>
            </div>
          </div>
        </div>

        <%= simple_form_for @recipe do |f| %>
          <div data-wizard-target="step" class="wizard-step d-none">
            <div class="container py-1">
              <div class="card shadow-sm rounded-5 p-4 border-0 modal-carbo-card">
                <h6 class="h-default text-center fw-bold mb-4">
                  Étape 1: Nom et Description
                </h6>
                <%= f.input :name, placeholder: "Donne un nom à ta recette...", input_html: { class: "placeholder-custom" } %>
                <%= f.input :description, placeholder: "Une description brève de ta recette", input_html: { class: "placeholder-custom" } %>
                <div class="d-flex justify-content-between mt-3">
                  <button type="button" class="btn btn-outline-secondary rounded-5" data-action="wizard#goToPrevious" data-current-step="1" data-previous-step="0">
                    <i class="fa-solid fa-arrow-left me-2"></i>Retour
                  </button>
                  <button type="button" class="btn button-default rounded-5" data-action="wizard#goToNext" data-current-step="1" data-next-step="2">
                    Suivant<i class="fa-solid fa-arrow-right ms-2"></i>
                  </button>
                </div>
              </div>
            </div>
          </div>

          <div data-wizard-target="step" class="wizard-step d-none">
            <div class="container py-1">
              <div class="card shadow-sm rounded-5 p-4 border-0 modal-carbo-card">
                <h6 class="h-default text-center fw-bold mb-4">
                  Étape 2: Instructions et Difficulté
                </h6>
                <%= f.input :steps, placeholder: "Une description pas à pas de ta recette", input_html: { class: "placeholder-custom", rows: 5 } %>
                <%= f.input :difficulty, collection: [1,2,3,4,5], prompt: "1 pour très facile, 5 pour très difficile", input_html: { class: "form-select custom-font" } %>
                <div class="d-flex justify-content-between mt-3">
                  <button type="button" class="btn btn-outline-secondary rounded-5" data-action="wizard#goToPrevious" data-current-step="2" data-previous-step="1">
                    <i class="fa-solid fa-arrow-left me-2"></i>Retour
                  </button>
                  <button type="button" class="btn button-default rounded-5" data-action="wizard#goToNext" data-current-step="2" data-next-step="3">
                    Suivant<i class="fa-solid fa-arrow-right ms-2"></i>
                  </button>
                </div>
              </div>
            </div>
          </div>

          <div data-wizard-target="step" class="wizard-step d-none">
            <div class="container py-1">
              <div class="card shadow-sm rounded-5 p-4 border-0 modal-carbo-card">
                <h6 class="h-default text-center fw-bold mb-4">
                  Étape 3: Données Nutritionnelles
                </h6>
                <%= f.input :indice_gly, placeholder: "Indice glycémique (1-100)", input_html: { class: "placeholder-custom" } %>
                <%= f.input :ratio_glucide, placeholder: "Ratio glucidique (1-100)", input_html: { class: "placeholder-custom" } %>
                <div class="d-flex justify-content-between mt-3">
                  <button type="button" class="btn btn-outline-secondary rounded-5" data-action="wizard#goToPrevious" data-current-step="3" data-previous-step="2">
                    <i class="fa-solid fa-arrow-left me-2"></i>Retour
                  </button>
                  <%= f.submit "Enregistrer", class: "btn button-default rounded-5" %>
                </div>
              </div>
            </div>
          </div>
        <% end %>

        <div data-wizard-target="step" class="wizard-step d-none">
          <div class="container py-1">
            <div class="card shadow-sm rounded-5 p-4 border-0 modal-carbo-card">
              <h6 class="h-default text-center fw-bold mb-4">
                Choisissez quels CarboDucts vous voulez intégrer dans vos recettes! Si vous n'en choisissez aucun, notre SuperCarbo s'en occupera!
              </h6>

              <% if @items.any? %>
                <%= simple_form_for @chat_item do |f| %>
                  <%= f.association :item,
                      as: :check_boxes,
                      label: "",
                      label_method: :show_name_and_brand,
                      collection_wrapper_tag: 'div',
                      collection_wrapper_class: 'category-wrapper',
                      item_wrapper_tag: 'div',
                      item_wrapper_class: 'category-item',
                      input_html: { class: 'category-selector' },
                      collection: current_user.items
                  %>
                  <div class="d-flex justify-content-between mt-4">
                    <button type="button" class="btn btn-outline-secondary rounded-5" data-action="wizard#goToPrevious" data-current-step="4" data-previous-step="0">
                      <i class="fa-solid fa-arrow-left me-2"></i>Retour
                    </button>
                    <%= f.button :submit, "Démarrer le Chat", class: 'btn button-default rounded-5' %>
                  </div>
                <% end %>
              <% else %>
                <p class="text-center mb-4 p-default">Vous n'avez pas encore de CarboDucts. SuperCarbo créera une recette sans ingrédients spécifiques.</p>
                <%= simple_form_for @chat_item do |f| %>
                  <div class="d-flex justify-content-between mt-4">
                    <button type="button" class="btn btn-outline-secondary rounded-5" data-action="wizard#goToPrevious" data-current-step="4" data-previous-step="0">
                      <i class="fa-solid fa-arrow-left me-2"></i>Retour
                    </button>
                    <%= f.button :submit, "Démarrer le Chat", class: 'btn button-default rounded-5' %>
                  </div>
                <% end %>
              <% end %>
            </div>
          </div>
        </div>

      </div>
    </div>
  </div>
</div>
