<% content_for :navabr_text_label, "My CarboMeals" %>
<% content_for :navbar_text_path, root_path %>

<div class="container">

  <div class="shadow-sm rounded-5 mt-4 p-4 segment-control-bar">

    <%= link_to 'CarboMeals', recipes_path,
                class: "segment-button p-default #{'active' if current_page?(recipes_path)}" %>

    <%= link_to 'CarboDucts', items_path,
                class: "segment-button p-default #{'active' if current_page?(items_path)}" %>
  </div>

  <div class="card shadow-sm rounded-5 mt-4 p-4">
    <div class="text-center pt-1 pb-3">
      <h1 class="display-5 fw-bold h-default mb-2 mt-2">
        Mes Carbomeals
      </h1>
    </div>
    <div class="row row-cols-lg-4 align-items-stretch">
      <% if @recipes.any? %>
        <% @recipes.each do |recipe| %>
          <div class="col-lg-4 mb-1">
            <div class="card-recipe-bis p-3 rounded-5">

            <h5 class="mb-3 h-default">
              <%= recipe.name %>
            </h5>

              <p class="flex-grow- p-default"><%= recipe.description %></p>

              <%= link_to recipe_path(recipe), class: "d-block text-decoration-none" do %>
                <div class="div-button-recipe access-button-recipe rounded-5">
                  <p>Voir cette recette</p>
                </div>
              <% end %>

              <%= link_to edit_recipe_path(recipe), class: "d-block text-decoration-none" do %>
                <div class="div-button-recipe access-button-recipe rounded-5">
                  <p>Modify this recipe</p>
                </div>
              <% end %>

              <%= link_to recipe_path(recipe),
                  data: { turbo_method: :delete, turbo_confirm: "Êtes-vous sûr(e) de vouloir supprimer cette recette ?" },
                  class: "d-block text-decoration-none" do %>
                <div class="div-button-recipe delete-button-recipe rounded-5">
                  <p>Supprimer</p>
                </div>
              <% end %>
            </div>
          </div>
        <% end %>
      <% end %>
    </div>
  </div>
</div>

<button type="button" class="btn button-default rounded-circle button-modal"
      data-bs-toggle="modal" data-bs-target="#newPostModal">
<i class="bi bi-plus-lg fs-3"></i>
</button>

<div class="modal fade" id="newPostModal" tabindex="-1" aria-labelledby="newPostModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal- p-default" id="newPostModalLabel">Add a New CarboMeal</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <%= render "form", recipe: @recipe %>
      </div>
    </div>
  </div>
</div>
