<% if user_signed_in? %>
  <nav class=" footer navbar-light shadow-sm fixed-bottom border-top">
    <div class="container justify-content-center">
      <ul class="navbar-nav d-flex flex-row justify-content-center align-items-center gap-4 mb-0">

        <li class="foot-item">
            <%= link_to feed_path do %>
              <i class="bi bi-activity fs-1 btn rounded-5"></i>
            <% end %>
        </li>

        <li class="foot-item">
          <%= link_to browse_path do %>
            <i class="bi bi-search fs-1 btn"></i>
          <% end %>
        </li>
        <li class="foot-item">
          <%= link_to chats_path do %>
            <i class="bi bi-robot fs-1 btn"></i>
          <% end %>
        </li>
        <li class="foot-item">
          <%= link_to recipes_path do %>
            <i class="bi bi-book fs-1 btn"></i>
          <% end %>
        </li>
        <li class="foot-item">
          <%= link_to profile_path do %>
            <i class="bi bi-person fs-1 btn"></i>
          <% end %>
        </li>
      </ul>
    </div>
  </nav>
<% else %>
<% end %>
