<% content_for :navabr_text_label, "Back" %>
<% content_for :navbar_text_path, chats_path %>

<div class="container">
  <div class="card shadow-sm rounded-5 my-4 p-4">
    <h1 class="title-chat display-3 text-center mt-4 mb-5">SuperCarbo</h1>

    <h2 class="title-recipe display-6 mb-4"><%= @chat.title %></h2>

    <div id="messages">
      <% @chat.messages.each do |message| %>
        <% if message.role == "user" %>
          <div class="d-flex justify-content-start mb-3">
            <div class="message-bubble user-message">
              <%= markdown(message.content) %>
            </div>
          </div>
        <% elsif message.role == "assistant" %>
          <div class="d-flex flex-column align-items-end mb-3 pe-2">
            <div class="message-bubble assistant-message">
              <%= markdown(message.content) %>
              <div style="text-align: center;">
                <%= button_to save_recipe_chat_message_path(@chat, message),
                               method: :post,
                               class: "btn btn-sm mt-2 rounded-5 btn-save",
                               style: "background-color: #d34e4e; color: white; font-family: 'Playfair Display', serif; font-size: 1rem; font-weight: bold; border: 1px solid #840101ff;",
                               data: { turbo_confirm: "Save this recipe to your CarboMeals?" } do %>
                                  <i class="fa-regular fa-floppy-disk btn-icon"></i>
                                  Save recipe
                                <% end %>
              </div>
            </div>
          </div>
        <% end %>
      <% end %>
    </div>
    <div id="new_message_container">
      <%= simple_form_for [@chat, @message] do |f| %>
        <%= f.input :content, label: false, required: true, placeholder: "How can I help you?", input_html: { class: "placeholder-italic" } %>
        <%= f.button :submit, 'Ask SuperCarbo', class: 'btn button-default mb-2 rounded-5' %>
      <% end %>
    </div>
  </div>
</div>
