<% content_for :navabr_text_label, "My CarboDucts" %>
<% content_for :navbar_text_path, feed_path %>

<div class="container">

  <div class="shadow-sm rounded-5 mt-4 p-4 segment-control-bar segment-control-bar">

    <%= link_to 'CarboMeals', recipes_path,
                class: "segment-button p-default #{'active' if current_page?(recipes_path)}" %>

    <%= link_to 'CarboDucts', items_path,
                class: "segment-button p-default #{'active' if current_page?(items_path)}" %>

  </div>
  <%# form pour la search bar de recipes#index %>
  <div class="card shadow-sm rounded-5 mt-4 p-4">
    <%= form_with url: items_path, method: :get, class: "d-flex" do %>
      <%= label_tag :query, "Search in your CarboMeals", class: "visually-hidden" %>
      <%= text_field_tag :query,
            params[:query],
            class: "form-control me-2",
            placeholder: "Type a keyword"
        %>
      <%= submit_tag "Search", name: "", class: "button-default" %>
    <% end %>
  </div>

  <div class="card shadow-sm rounded-5 mt-4 p-4">

    <div class="text-center pt-1 pb-3">
      <h1 class="display-5 fw-bold h-default mb-2 mt-2">
        My CarboDucts
      </h1>
    </div>
    <div class="row row-cols-lg-4 align-items-stretch">
      <% if @items.any? %>
        <% @items.each do |item| %>
          <div class="col-lg-4 mb-1">
            <div class="card-recipe-bis p-3 rounded-5">

            <h5 class="mb-3 h-default">
              <%= item.name %>
            </h5>

              <p class="flex-grow- p-default">- <%= item.brand %></p>
              <p class="flex-grow- p-default">- <%= item.category %></p>
              <p class="flex-grow- p-default">- <%= item.indice_gly %> IG</p>
              <p class="flex-grow- p-default">- <%= item.ratio_glucide %> C/100gr</p>

              <%= link_to edit_item_path(item), class: "d-block text-decoration-none" do %>
                <div class="div-button-recipe access-button-recipe rounded-5">
                  <p>Modify this Carboduct</p>
                </div>
              <% end %>

              <%= link_to items_path,
                  data: { turbo_method: :delete, turbo_confirm: "Êtes-vous sûr(e) de vouloir supprimer cette recette ?" },
                  class: "d-block text-decoration-none" do %>
                <div class="div-button-recipe delete-button-recipe rounded-5">
                  <p>Supprimer</p>
                </div>
              <% end %>
            </div>
          </div>
        <% end %>
      <% end %>
    </div>
  </div>
</div>


<div class="offcanvas offcanvas-end" tabindex="-1" id="offcanvasAction" aria-labelledby="offcanvasActionLabel" data-bs-backdrop="true" data-controller="wizard">
  <div class="offcanvas-dialog offcanvas-dialog-centered">
    <div class="offcanvas-content">
      <div class="offcanvas-header">
        <h5 class="offcanvas-title p-default" id="offcanvasActionLabel">Add a New CarboDuct</h5>
        <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close" data-action="wizard#reset"></button>
      </div>
      <div class="offcanvas-body">

        <%= simple_form_for @item do |f| %>
          <div data-wizard-target="step" class="wizard-step">
            <div class="container py-1">
              <div class="card shadow-sm rounded-5 p-4 border-0 modal-carbo-card">
                <h6 class="h-default text-center fw-bold mb-4">
                  Étape 1: Informations Générales
                </h6>
                <%= f.input :name, placeholder: "Exemple: patate douce, entrecôte, banane...", input_html: { class: "placeholder-custom" } %>
                <%= f.input :brand, placeholder: "Exemple: Panzani, Charal, Cassegrain...", input_html: { class: "placeholder-custom" } %>
                <div class="d-flex justify-content-end mt-3">
                  <button type="button" class="btn button-default rounded-5" data-action="wizard#goToNext" data-current-step="0" data-next-step="1">
                    Suivant<i class="fa-solid fa-arrow-right ms-2"></i>
                  </button>
                </div>
              </div>
            </div>
          </div>

          <div data-wizard-target="step" class="wizard-step d-none">
            <div class="container py-1">
              <div class="card shadow-sm rounded-5 p-4 border-0 modal-carbo-card">
                <h6 class="h-default text-center fw-bold mb-4">
                  Étape 2: Catégorie
                </h6>
                <%= f.input :category,
                    as: :radio_buttons,
                    label: false,
                    collection: [
                      "Légumes et fruits",
                      "Féculents et légumes secs",
                      "Lait et substituts",
                      "Viandes et substituts",
                      "Matières grasses",
                      "Produits sucrées",
                      "Eaux",
                      "Alcools",
                      "Boissons sucrées",
                      "Vitamines et Minéraux"
                    ],
                    collection_wrapper_tag: 'div',
                    collection_wrapper_class: 'category-wrapper',
                    item_wrapper_tag: 'div',
                    item_wrapper_class: 'form-check',
                    input_html: { class: 'form-check-input' },
                    label_html: { class: 'form-check-label' }
                %>
                <div class="d-flex justify-content-between mt-3">
                  <button type="button" class="btn btn-outline-secondary rounded-5" data-action="wizard#goToPrevious" data-current-step="1" data-previous-step="0">
                    <i class="fa-solid fa-arrow-left me-2"></i>Retour
                  </button>
                  <button type="button" class="btn button-default rounded-5" data-action="wizard#goToNext" data-current-step="1" data-next-step="2">
                    Suivant<i class="fa-solid fa-arrow-right ms-2"></i>
                  </button>
                </div>
              </div>
            </div>
          </div>

          <div data-wizard-target="step" class="wizard-step d-none">
            <div class="container py-1">
              <div class="card shadow-sm rounded-5 p-4 border-0 modal-carbo-card">
                <h6 class="h-default text-center fw-bold mb-4">
                  Étape 3: Données Nutritionnelles
                </h6>
                <%= f.input :indice_gly, placeholder: "Compris entre 1 et 100", input_html: { class: "placeholder-custom" } %>
                <%= f.input :ratio_glucide, placeholder: "Pour 100g. Exemple: 27", input_html: { class: "placeholder-custom" } %>
                <div class="d-flex justify-content-between mt-3">
                  <button type="button" class="btn btn-outline-secondary rounded-5" data-action="wizard#goToPrevious" data-current-step="2" data-previous-step="1">
                    <i class="fa-solid fa-arrow-left me-2"></i>Retour
                  </button>
                  <%= f.submit "Enregistrer", class: "btn button-default rounded-5" %>
                </div>
              </div>
            </div>
          </div>
        <% end %>

      </div>
    </div>
  </div>
</div>
